html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: darkgoldenrod;
}

.recheio {
    padding-top: 200px;
    justify-content: center;
    display: flex;
    height: calc(8cm - 200px);
    width: 5cm;
    background: salmon;
    margin: 3cm auto 0 auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.palito {
    width: 1cm;
    height: 4cm;
    background: sienna;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 0cm auto 3cm auto;
}

.sombraPalito {
    width: 1cm;
    height: 0.5cm;
    background-color: saddlebrown;
    margin: 0cm 0cm 0cm 0cm;
}

.rightEye {
    padding-top: 1px;
    padding-left: 1px;
    width: 20px;
    height: 20px;
    background: brown;
    border-radius: 50px;
    border: black;
}

.sombraRE {
    width: 5px;
    height: 5px;
    background: whitesmoke;
    border-radius: 2px;
}

.leftEye {
    padding-top: 1px;
    padding-right: 1px;
    width: 20px;
    height: 20px;
    background: brown;
    border-radius: 50px;
    border: black;
}

.sombraLE {
    width: 5px;
    height: 5px;
    background: whitesmoke;
    border-radius: 2px;
}

.mouth {
    padding-top: 40px;
    padding-left: 25px;
    margin: 10px;
    background: brown;
    width: calc(100px - 25px);
    height: calc(50px - 40px);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.lingua {
    background: rgb(202, 70, 70);
    width: 50px;
    height: 25px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}